/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #34495E;
    color: white;
    text-align: center;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    font-size: 24px;
    margin: 0;
}

#cart-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;
    color: white;
    padding: 8px 15px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

#cart-btn:hover {
    background-color: #BDC3C7;
    color: black;
}

/* Menú */
nav {
    background-color: transparent;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav ul li a:hover {
    color: #BDC3C7;
}

/* Contenedor de productos */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    background-color: #2C3E50;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 250px;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.product h3 {
    margin: 10px 0;
    font-size: 18px;
}

.product p {
    color: #BDC3C7;
    font-size: 14px;
    line-height: 1.5;
}

.price {
    font-size: 20px;
    color: #E74C3C;
    font-weight: bold;
    margin-top: 10px;
}

/* Botones */
.btn {
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    background-color: #BDC3C7;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #34495E;
}

/* Pie de página */
footer {
    background-color: #2C3E50;
    color: white;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    margin-top: auto;
}

footer p {
    margin: 5px 0;
}

.logo {
    width: 40px; /* Ajusta el tamaño del logo según prefieras */
    height: 40px;
    margin-right: 15px;
    vertical-align: middle;
}
